.header {
  display: flex;
  justify-content: space-between;
}

.section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.container-section-pricing {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
}

.container-pricing {
  display: flex;
  justify-content: center;
  align-items:center;
}

.recommended {
  display: flex;
  justify-content: center;
}

.container-pricing > * {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: column;
}

.container-pricing > * > .title-basic-plan,.title-business-plan,.text-container-extra-features{
  margin: 0;
}

.container-basic-plan {
  flex: 1;
}

.container-business-plan {
  flex: 1;
}

.container-extra-features {
  flex: 1;
}

.container-text-top {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
}

.container-text-top > * {
  margin: 0
}

.container-btn-try-premium, .container-btn-sign-up, .container-text-extra-features, .container-text-business-plan {
  display: flex;
  justify-content: center;
}

.container-faq {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  flex: 1;
}

.container-text-faqs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 750px;
  gap: 10px;
}
